<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | UFV 11ty Starter</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        {{ content | safe }}
    </div>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>